# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
#1
numbers=tuple(i for i in range(1,11))
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
#2
print(numbers[0],numbers[len(numbers)-1],numbers[int((len(numbers)-1)/2)])

1 10 5

In [7]:
# 3
print(numbers[:3],numbers[len(numbers)-3:],numbers[2:5])

(1, 2, 3) (8, 9, 10) (3, 4, 5)

In [14]:
# 4
matrix=((1,2,3),(2,3,4),(3,4,5))
for i in matrix:
    for j in i:
        print(j,"\t",end="")
    print()
print(matrix[1][2])

1 	2 	3
2 	3 	4
3 	4 	5
4

In [15]:
# 5
tup1=(1,2,3)
tup2=(4,5,6)
print(tup1+tup2)

(1, 2, 3, 4, 5, 6)

In [17]:
# 6
tup=(2,3,4,3,2,4,5,3,6,3,4,2,1,5,6,4,3)
print(tup.count(3))
print(tup.index(3))

5
1

In [21]:
# 7
tup=(1,2,3,4,5)
e1,e2,e3,e4,e5=tup
print(e1,e2,e3,e4,e5)
print(e1)
print(e5)

1 2 3 4 5
1
5

In [25]:
# 8
num=[1,2,3,4,5]
tup=tuple(num)
print(tup)

(1, 2, 3, 4, 5)

In [27]:
# 9
matrix=((1,2,3),(2,3,4),(3,4,5))
print(matrix)

((1, 2, 3), (2, 3, 4), (3, 4, 5))

In [29]:

### Assignment 10: Tuple and List

# Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup=(1,2,3,4,5)
tup=list(tup)
tup.append(6)
tup=tuple(tup)
print(tup)

(1, 2, 3, 4, 5, 6)

In [38]:
### Assignment 11: Tuple and String

# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
string_chars=("H","e","l","l","o")
my_string=''.join(string_chars)
print(my_string)

Hello

In [41]:

### Assignment 12: Tuple and Dictionary

# Create a dictionary with tuple keys and integer values. Print the dictionary.
dict={(1,2,3):6,(2,3,4):9,(3,4,5):12}
print(dict)

{(1, 2, 3): 6, (2, 3, 4): 9, (3, 4, 5): 12}

In [44]:
### Assignment 13: Nested Tuple Iteration

# Create a nested tuple and iterate over the elements, printing each element.
tup=((1,2,3),("m","n","o"),(2,"3","0"))
for i in tup:
    for j in i:
        print(j,end='')
    print()

123
mno
230

In [45]:

### Assignment 14: Tuple and Set

# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tup=(2,3,4,3,2,4,5,3,6,3,4,2,1,5,6,4,3)
set1=set(tup)
print(set1)

{1, 2, 3, 4, 5, 6}

In [48]:

### Assignment 15: Tuple Functions

# Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def maximum(tup):
    max=tup[0]
    for i in tup[1:]:
        if i>max:
            max=i
    return max

def minimum(tup):
    min=tup[0]
    for i in tup[1:]:
        if i<min:
            min=i
    return min

def sum_of_tuple(tup):
    sum=0
    for i in tup:
        sum+=i
    return sum

tup=(i for i in range(100) if i%10==0)
tup=tuple(tup)
print(maximum(tup))
print(minimum(tup))
print(sum_of_tuple(tup))

90
0
450